html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  box-sizing: inherit;
}

.container {
  display: flex;
  /* background-color: aqua; */
  height: 500px;
}

.section {
  height: 90%;
}

.list-section {
  background: lightgrey;
  /* border: 1px solid green;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 20%;
  margin-top: 2.5rem;
  margin-right: 0;
}

.list-items {
  /* background-color: pink; */
  margin-top: 50px;
  height: 90%;
}

.items {
  display: flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 60%;
  /* background: firebrick;
  border: 1px solid black; */
  color: black;
  margin: 60px 40px;
}

.box {
  background: lightblue;
  /* border: 1px solid green; */
  width: 200px;
  height: 200px;
}

.heading {
  margin-bottom: 1rem;
}

.box__1,
.box__2,
.box__3,
.box__4,
.box__5,
.box__6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
